<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Selling System</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
    <hr>
    <h2>Update Your Listing</h2>

    <form action="#" th:action="@{/updateHouse}" th:object="${house}"
          method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{address}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{type}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{noRooms}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{price}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update House</button>
    </form>

    <hr>
    <a th:href = "@{/users}"> Back </a>
    </div>
</body>
</html>